{% extends 'base.html.twig' %}

{% block title %}Série #{{ season.program.id }}{% endblock %}

{% block body %}
   <style>
        .poster {
            max-height:400px;
      }
        .episode-description {
            margin-bottom:35px;
        }
   </style>

    <div class="media">
        <img class="poster align-self-start mr-3" src="{{season.program.poster}}" alt="{{ season.program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">Saison {{season.number}} de {{ season.program.title }}</h1>
            <p>{{ season.program.summary }}</p>
            <p>Catégorie : {{ season.program.category.name }}</p>
        </div>

        <ul class="episode-list">
            {% for episode in season.episodes %}
                <li><a href="#{{episode.id}}-anchor">Episode {{episode.number}} : {{episode.title}}</a></li>
            {% endfor %}
        </ul>
        <div class="episode-descriptions">
            {% for episode in season.episodes %}
                <div id="{{episode.id}}-anchor" class="episode-description">
                    <p>Episode {{episode.number}} : {{episode.title}}</p>
                    <p>{{episode.synopsis}}
                </div>
            {% endfor %}


        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}