{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
   <style>
        .poster {
            max-height:400px;
      }
        .episode-description {
            margin-bottom:35px;
        }
   </style>

    <div class="media">
        <img class="poster align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">Saison {{season.number}} de {{ program.title }}</h1>
        </div>

        <div class="episode-descriptions">
                <div id="{{episode.id}}-anchor" class="episode-description">
                    <h2>Episode {{episode.number}} : {{episode.title}}</h2>
                    <p>{{episode.synopsis}}
                </div>

        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}